html, body {
  max-height: 100%; 
}

#app {
  max-height: 100%;
}

.itemPadding {
    padding: 0px;
}

.newsItem {
    padding: 0px;
    height:102px;
    border-radius:1px;
    border:1px solid #343d46;
    max-width: 800px;
    margin: 10px auto 10px auto;
}

.listItemImage {
    max-width: 20%;
    max-height: 100px;
    min-height: 100px;
    min-width: 100px;
}

.listItemContent {
}
.listItemTitle {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.listItemSubTitle {
    overflow: hidden;
    /* for set '...' in absolute position */
    position: relative;
    /* use this value to count block height */
    line-height: 1.25em;
    /* max-height = line-height (1.2) * lines max number (3) */
    max-height: 3.6em;
    /* fix problem when last visible word doesn't adjoin right side  */
    text-align: justify;

    /* */

    margin-right: -1.5em;
    padding-left: 1em;
    padding-right: 1.5em;
}

.listItemSubTitle:before {
    /* points in the end */
    content: '...';
    /* absolute position */
    position: absolute;
    /* set position to right bottom corner of block */
    right: 0.5em;
    bottom: 0;
}
.listItemSubTitle:after {
    /* points in the end */
    content: '';
    /* absolute position */
    position: absolute;
    /* set position to right bottom corner of text */
    right: 0;
    width: 1em;
    /* set width and height */
    height: 1em;
    margin-top: 0.2em;
    background: white;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.videoItem {
  position: relative;
  max-width: 800px;
  margin: 20px auto 20px auto;
  border: none;
  background: inherit;
}

.videoItem iframe {
  width: 560px;
  height: 315px;
}

@media (min-width: 0px) and (max-width: 400px) {
  .videoItem {
    position: relative;
    max-width: 400px;
    margin: 0 0 0 0;
  }
  .videoItem iframe {
    width: 350px;
    height: 256px;
  }
}
